In [2]:
from pathlib import Path
import pandas as pd

In [3]:
task = 'inhospital_mortality'
src = Path('results')

In [4]:
df_ViTiMM = pd.read_csv(src / f'results_ViTiMM_{task}.csv')
df_ViTiMM.rename(columns={'stay_id': 'hadm_id'}, inplace=True)
df_ViTiMM.set_index('hadm_id', inplace=True)
df_ViTiMM.rename(columns={
    'swin_lab_text': 'C',
    'swin_cxr_text': 'X',
    'swin_med_text': 'M',
    'swin_ecg_text': 'E',
    'swin_lab_cxr_text': 'C|X',
    'swin_lab_med_cxr_ecg_text_diagnoses': 'C|M|X|E'
}, inplace=True)
df_ViTiMM.rename(columns={c: f'ViTiMM {c}' for c in df_ViTiMM.columns[:-1]}, inplace=True)
df_ViTiMM

,ViTiMM C,ViTiMM M,ViTiMM X,ViTiMM E,ViTiMM C|X,ViTiMM C|M|X|E,y_true
hadm_id,,,,,,,
30008792,0.193546,0.475056,0.822056,0.476070,0.614302,0.305298,1
30009123,0.015755,0.291267,0.103424,0.140598,0.049464,0.013982,0
30009597,0.742484,0.500244,0.746755,0.615504,0.620785,0.944517,1
30009753,0.747420,0.468689,0.913119,0.607680,0.417776,0.886910,0
30022756,0.127118,0.411215,0.176093,0.466201,0.050603,0.149327,0
...,...,...,...,...,...,...,...
39970416,0.071834,0.700435,0.371966,0.578458,0.070380,0.042467,0
39972274,0.072215,0.231143,0.675282,NaN,0.160729,0.135811,0
39972327,0.170641,0.159267,0.105504,0.266358,0.048591,0.011602,0
39982305,0.810775,0.494039,0.061346,NaN,0.287964,0.085535,0
39983674,0.058178,0.538133,0.048904,0.162350,0.042707,0.020068,0

In [17]:
df_ViTiMM.loc[30596506]

ViTiMM C          0.014110
ViTiMM M          0.125996
ViTiMM X          0.068579
ViTiMM E          0.154697
ViTiMM C|X        0.033074
ViTiMM C|M|X|E    0.012294
y_true            1.000000
Name: 30596506, dtype: float64

In [85]:
df_MeTra = pd.read_csv(src / f'results_MeTra_{task}.csv')
# df_MeTra.set_index('hadm_id', inplace=True)
# metra_meta = pd.read_csv('results/MeTra_test_metadata.csv', index_col=0)
# metra_meta = metra_meta[['stay_id','y_true']]
# metra_meta.rename(columns={'stay_id': 'hadm_id'}, inplace=True)
# df_MeTra = df_MeTra.merge(metra_meta, on='hadm_id', how='left')
df_MeTra.set_index('hadm_id', inplace=True)
df_MeTra.rename(columns={
    'EHR': 'C',
    'CXR': 'X',
    'EHR_CXR': 'C|X'
}, inplace=True)
df_MeTra.rename(columns={c: f'MeTra {c}' for c in df_MeTra.columns[:-1]}, inplace=True)
df_MeTra

           MeTra C   MeTra X  MeTra C|X  y_true
hadm_id
30008792  0.100261  0.167284   0.229474     1.0
30009123  0.010703  0.022816   0.014702     0.0
30009597  0.292390  0.087597   0.467905     1.0
30009753  0.540065  0.081458   0.683803     0.0
30022756  0.027811  0.023543   0.006235     0.0
...            ...       ...        ...     ...
39970416  0.064205  0.012789   0.025678     0.0
39972274  0.048572  0.037547   0.016200     0.0
39972327  0.019332  0.016353   0.018670     0.0
39982305  0.601376  0.011006   0.090009     0.0
39983674  0.019771  0.007780   0.004198     0.0

[1373 rows x 4 columns]

In [86]:
df_MedFuse = pd.read_csv(src / f'results_MedFuse_{task}.csv')
df_MedFuse.set_index('hadm_id', inplace=True)
# df_MedFuse.drop(columns=['GT'], inplace=True)
df_MedFuse.rename(columns={
    'uni_ehr_paired': 'C',
    'uni_cxr_paired': 'X',
    'medFuse_paired': 'C|X'
}, inplace=True)
df_MedFuse.rename(columns={c: f'MedFuse {c}' for c in df_MedFuse.columns}, inplace=True)
df_MedFuse.rename(columns={'MedFuse GT': 'y_true'}, inplace=True)
df_MedFuse

          y_true  MedFuse C  MedFuse C|X  MedFuse X
hadm_id
37510196     1.0   0.111955     0.245501   0.283654
32128372     0.0   0.046855     0.029993   0.112429
34577403     1.0   0.312450     0.358792   0.130637
39880770     0.0   0.229408     0.072748   0.097106
33072499     0.0   0.006346     0.019151   0.105155
...          ...        ...          ...        ...
37467324     0.0   0.015719     0.014003   0.146886
30437043     0.0   0.208004     0.014739   0.084373
38232926     0.0   0.043289     0.053863   0.170470
35505750     0.0   0.005538     0.036478   0.117179
36403582     0.0   0.004418     0.025927   0.080135

[1242 rows x 4 columns]

In [87]:
df_MeTra = df_MeTra.reset_index()
df_MedFuse = df_MedFuse.reset_index()
df_ViTiMM = df_ViTiMM.reset_index()
df = df_ViTiMM.merge(df_MedFuse, on=['hadm_id','y_true'], how='inner')
df = df.merge(df_MeTra, on=['hadm_id','y_true'], how='inner')
df

,index,hadm_id,ViTiMM C,ViTiMM M,ViTiMM X,ViTiMM E,ViTiMM C|X,ViTiMM C|M|X|E,y_true,MedFuse C,MedFuse C|X,MedFuse X,MeTra C,MeTra X,MeTra C|X
0,1,30009123,0.015755,0.291267,0.103424,0.140598,0.049464,0.013982,0,0.022464,0.013993,0.191195,0.010703,0.022816,0.014702
1,3,30009753,0.747420,0.468689,0.913119,0.607680,0.417776,0.886910,0,0.191673,0.093446,0.234384,0.540065,0.081458,0.683803
2,6,30026004,0.171401,0.748546,0.089372,NaN,0.037318,0.030151,0,0.036244,0.046869,0.114915,0.020639,0.016869,0.005591
3,7,30055897,0.327163,0.649366,0.727310,NaN,0.784216,0.602486,0,0.227690,0.324537,0.091459,0.257603,0.229790,0.707857
4,8,30067545,0.429493,0.324002,0.361437,0.323633,0.333390,0.111332,0,0.031351,0.081943,0.085739,0.160105,0.036511,0.241456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
937,1365,39949367,0.281490,0.422440,0.164513,NaN,0.129648,0.019135,0,0.522400,0.410036,0.141685,0.020467,0.019782,0.007048
938,1366,39950156,0.116626,0.544811,0.099997,0.518058,0.099588,0.053085,0,0.029253,0.025478,0.122701,0.062476,0.046358,0.043506
939,1367,39951232,0.033991,0.099447,0.078051,0.166932,0.023999,0.005631,0,0.046427,0.144327,0.154643,0.099625,0.022541,0.026754
940,1368,39970416,0.071834,0.700435,0.371966,0.578458,0.070380,0.042467,0,0.398944,0.774022,0.152684,0.064205,0.012789,0.025678
941,1372,39983674,0.058178,0.538133,0.048904,0.162350,0.042707,0.020068,0,0.000427,0.017476,0.061362,0.019771,0.007780,0.004198

In [90]:
import torch
from utils import metrics
methods = [c for c in df.columns if c != 'y_true']
for m in methods:
    dfm = df.dropna(subset=[m])
    print(m, metrics(torch.tensor(dfm.y_true.tolist()), torch.tensor(dfm[m].tolist())))

index (np.float64(0.39985067940869046), np.float64(0.036642784196048855), np.float64(0.5))
hadm_id (np.float64(0.39985067940869046), np.float64(0.036642784196048855), np.float64(0.5))
ViTiMM C (np.float64(0.810094071972525), np.float64(0.2022796615116953), np.float64(0.7430640585336719))
ViTiMM M (np.float64(0.657339107062864), np.float64(0.09503700329415554), np.float64(0.6134089890995968))
ViTiMM X (np.float64(0.8028370912348813), np.float64(0.18873755736866235), np.float64(0.7221143795729431))
ViTiMM E (np.float64(0.6987419245154709), np.float64(0.058772561885706696), np.float64(0.6202538818995806))
ViTiMM C|X (np.float64(0.8410930267283859), np.float64(0.2841931619954137), np.float64(0.7502911751530537))
ViTiMM C|M|X|E (np.float64(0.877198745707033), np.float64(0.4792994434270713), np.float64(0.8145886217709422))
MedFuse C (np.float64(0.8192026280424071), np.float64(0.23922295536354093), np.float64(0.5852023294012244))
MedFuse C|X (np.float64(0.8164551291623114), np.float64(0.25283698032430885), np.float64(0.7059728236523817))
MedFuse X (np.float64(0.616574585635359), np.float64(0.10160419647828176), np.float64(0.5))
MeTra C (np.float64(0.7903837539196655), np.float64(0.16830351683973066), np.float64(0.6271016873226818))
MeTra X (np.float64(0.7862625055995222), np.float64(0.13736829312660412), np.float64(0.5096461101985964))
MeTra C|X (np.float64(0.8314469165297895), np.float64(0.2708694884693218), np.float64(0.6783933104375094))

In [92]:
from scipy.stats import ttest_rel
dfp = df.drop(columns=['y_true']).set_index('hadm_id')

cols = [
    'MeTra C', 
    'MeTra X', 
    'MeTra C|X',
    'MedFuse C', 
    'MedFuse X',
    'MedFuse C|X', 
    'ViTiMM C', 
    'ViTiMM X', 
    'ViTiMM M', 
    'ViTiMM E', 
    'ViTiMM C|X',
    'ViTiMM C|M|X|E'
]
dfp = dfp[cols]
methods = dfp.columns
p_values = pd.DataFrame(index=methods, columns=methods)

for method_1 in methods:
    for method_2 in methods:
        if method_1 != method_2:
            _df = df.dropna(subset=[method_1,method_2])
            _, p_val = ttest_rel(_df[method_1], _df[method_2])
            p_values.loc[method_1, method_2] = p_val
        else:
            p_values.loc[method_1, method_2] = None  # No test against itself
p_values = p_values.astype(float)
p_values.round(3).to_latex()

'\\begin{tabular}{lrrrrrrrrrrrr}\n\\toprule\n & MeTra C & MeTra X & MeTra C|X & MedFuse C & MedFuse X & MedFuse C|X & ViTiMM C & ViTiMM X & ViTiMM M & ViTiMM E & ViTiMM C|X & ViTiMM C|M|X|E \\\\\n\\midrule\nMeTra C & NaN & 0.000000 & 0.000000 & 0.000000 & 0.738000 & 0.261000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\nMeTra X & 0.000000 & NaN & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\nMeTra C|X & 0.000000 & 0.000000 & NaN & 0.444000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\nMedFuse C & 0.000000 & 0.000000 & 0.444000 & NaN & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\nMedFuse X & 0.738000 & 0.000000 & 0.000000 & 0.000000 & NaN & 0.253000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\nMedFuse C|X & 0.261000 & 0.000000 & 0.000000 & 0.000000 & 0.253000 & NaN & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\nViTiMM C & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & NaN & 0.104000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\nViTiMM X & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.104000 & NaN & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\nViTiMM M & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & NaN & 0.143000 & 0.000000 & 0.000000 \\\\\nViTiMM E & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.143000 & NaN & 0.000000 & 0.000000 \\\\\nViTiMM C|X & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & NaN & 0.000000 \\\\\nViTiMM C|M|X|E & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & NaN \\\\\n\\bottomrule\n\\end{tabular}\n'